In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("C:/Users/ayush/OneDrive/Documents/Machine_Learning/placement.csv")

In [4]:
df.head()

   Unnamed: 0  cgpa     iq  placement
0           0   6.8  123.0          1
1           1   5.9  106.0          0
2           2   5.3  121.0          0
3           3   7.4  132.0          1
4           4   5.8  142.0          0

In [5]:
df=df.iloc[:,1:]

In [6]:
df.head()

   cgpa     iq  placement
0   6.8  123.0          1
1   5.9  106.0          0
2   5.3  121.0          0
3   7.4  132.0          1
4   5.8  142.0          0

In [7]:
df.shape

(100, 3)

In [8]:
# Steps in a Machine Learning project
#1. Extract input and output cols
#2. Scale the value
#3. Train Test Split 
#4. Train the model
#5. Evaluate the model/model selection
#6. Deploy the model

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   cgpa       100 non-null    float64
 1   iq         100 non-null    float64
 2   placement  100 non-null    int64
dtypes: float64(2), int64(1)
memory usage: 2.5 KB